#
# Cartfile
#
# Copyright © 2016 Netguru Sp. z o.o. All rights reserved.
#

github "jspahrsummers/xcconfigs" ~> 0.10.0
github "nakiostudio/EasyPeasy" ~> 1.4.0
github "ReactiveX/RxSwift" ~> 3.0.1
github "AliSoftware/OHHTTPStubs" "5.2.3-swift3"
github "SwiftyJSON/SwiftyJSON" ~> 3.1.4
