#
# Cartfile
#
# Copyright © 2016 Netguru Sp. z o.o. All rights reserved.
#

github "jspahrsummers/xcconfigs" ~> 1.0
github "nakiostudio/EasyPeasy" ~> 1.7.0
github "ReactiveX/RxSwift" ~> 4.5.0
github "AliSoftware/OHHTTPStubs" ~> 7.0.0
github "SwiftyJSON/SwiftyJSON" ~> 4.2.0
