//
// Base-Mappings.xcconfig
//
// Copyright © 2016 Netguru Sp. z o.o. All rights reserved.
//

// MARK: Environment

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(_ENVIRONMENT) $(inherited)

// MARK: Versioning

PRODUCT_BUNDLE_VERSION_STRING = $(_BUILD_VERSION)
PRODUCT_BUNDLE_VERSION = $(_BUILD_NUMBER)

// MARK: Bundle

PRODUCT_NAME = $(_BUNDLE_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(_BUNDLE_IDENTIFIER)
INFOPLIST_FILE = $(_BUNDLE_INFOPLIST_PATH)
ENABLE_TESTABILITY = $(_BUNDLE_TESTABLE)

// MARK: Deployment

TARGETED_DEVICE_FAMILY = $(_DEPLOYMENT_IOS_DEVICES)
IPHONEOS_DEPLOYMENT_TARGET = $(_DEPLOYMENT_IOS_VERSION)

// MARK: Code signing

DEVELOPMENT_TEAM = $(_CODESIGN_DEVELOPMENT_TEAM)
PROVISIONING_PROFILE_SPECIFIER = $(_CODESIGN_PROFILE_SPECIFIER)
CODE_SIGN_ENTITLEMENTS = $(_CODESIGN_ENTITLEMENTS_PATH)

// MARK: Assets

ASSETCATALOG_COMPILER_APPICON_NAME = $(_ASSET_ICON)
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = $(_ASSET_LAUNCHIMAGE)

// MARK: Compiling

SWIFT_VERSION = $(_COMPILER_SWIFT_VERSION)
OTHER_SWIFT_FLAGS = $(inherited) $(_SWIFT_FLAGS)
ASSETCATALOG_COMPILER_OPTIMIZATION = $(_COMPILER_ASSETS_OPTIMIZATION)

// MARK: Linking

FRAMEWORK_SEARCH_PATHS = $(inherited) $(_FRAMEWORK_SEARCH_PATHS)
